*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
.nav-link{
  position: relative;
  text-decoration: none;
  color: rgba(64, 63, 61, 1);
  font-size: 16px;
  font-weight: 600;
  transition: 0.5s;
  line-height: 24px;
}

html {
  scroll-behavior: smooth;
}
header{
  position: relative;
}
.wrapper-burger{
  width: 100%;
  height: 100vh;
  visibility: hidden;
  opacity: 0;
  position: fixed;
  z-index: 10;
  top: 0;
  top: 80px;
  left: 100%;
  transition: 0.8s ease-in-out;
}

.nav-link::before {
  content: "";
  position: absolute;
  display: block;
  width: 100%;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #000;
  transform: scaleX(0);
  transition: transform 0.3s ease;
}
@media (hover: hover){
  .nav-link:hover::before {
    transform: scaleX(1);
  }
}

.nav-link, .next::before{
  background-color: rgba(225, 212, 201, 1);
}
.menu-link{
  position: relative;
  text-decoration: none;
  color: rgba(64, 63, 61, 1);
  font-size: 16px;
  font-weight: 600;
  transition: 0.5s;
  line-height: 16px;
}
.menu-link::before {
  content: "";
  position: absolute;
  display: block;
  width: 100%;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #000;
  transform: scaleX(1);
  transition: transform 0.3s ease;
}
@media (hover: hover){
  .menu-link:hover::before {
    transform: scaleX(0);
  }
}

.menu-link, .next::before{
  background-color: rgba(225, 212, 201, 1);
}
.active-menu:before{
  transform: scaleX(1);
}

body{
  background-color: rgba(225, 212, 201, 1);
  max-width: 1440px;
  margin: 0 auto;
  font-family: 'Inter', 'sans-serif';
  color: rgba(64, 63, 61, 1);
}

.container{
  max-width: 1360px;
  margin: 0 auto;
}

.header-top-wrapper{
  display: flex;
  justify-content: space-between;
  padding-top: 20px
}

.nav{
  line-height: 60px;
}

.ul-nav{
  list-style-type: none;
  display: flex;
  gap: 40px;
}

.menu-right{
  align-items: center;
  display: flex;
  cursor: default;
}

.img-logo{
  display: block;
}

.menu-right-text{
  font-weight: 600;
  margin-right: 10px;
}

.header-about{
  height: 644px;
  background: url(../../../assets/img/img-hero.jpg) no-repeat;
  background-size: cover;
  background-position: center;
  border-radius: 40px;
}

.enjoy-about{
  display: block;  width: 530px;
  height: 444px;
  padding-top: 100px;
  margin-left: 100px;
}

.enjoy{
  font-style: italic;
  font-size: 72px;
  font-weight: 600;
  color: rgba(225, 212, 201, 1);
  margin: 0;
}

.enjoy-span{
  color: 
  rgba(176, 144, 122, 1);
}

.enjoy-text{
  font-size: 16px;
  font-weight: 400;
  color: rgba(225, 212, 201, 1);
  background-color: Body
  rgba(225, 212, 201, 1);
  margin-top: 40px;
}

.btn-menu{
  height: 64px;
  width: 200px;
  border-radius: 100px;
  border: none;
  margin-top: 40px;
}

.slider{
  margin-top: 100px;
}

.slider-h2{
  font-size: 60px;
  font-weight: 600;
  text-align: center;
}

.slider-span{
  color: rgba(176, 144, 122, 1);
}

.about-coffee{
  margin-top: 100px;
}

.about-coffee-p{
  font-size: 60px;
  font-weight: 600;
}

.about-coffee-p span{
  color: rgba(176, 144, 122, 1);
}


.about-coffee-img{
  width: 100%;
  display: flex;
  margin-top: 40px;
  justify-content: space-between;
}

.img-about1-1{
  background: url(../../../assets/img/about-1.png) no-repeat;
  background-size: cover;
  background-position: center;
  height: 590px;
  width: 660px;
  border-radius: 20px;
}

.img-about1-2{
  background: url(../../../assets/img/about-2.png) no-repeat;
  background-size: cover;
  background-position: center;
  width: 660px;
  height: 430px;
  border-radius: 20px;
  margin-top: 40px;
}

.img-about2-1{
  background: url(../../../assets/img/about-3.png) no-repeat;
  background-size: cover;
  background-position: center;
  width: 660px;
  height: 430px;
  border-radius: 20px;
}

.img-about2-2{
  background: url(../../../assets/img/about-4.png) no-repeat;
  background-size: cover;
  background-position: center;
  height: 590px;
  width: 660px;
  border-radius: 20px;
  margin-top: 40px;
}

.offer{
  height: 630px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 100px;
}

.app-offer{
  width: 630px;
  height: 342px;
}

.app-offer h3 {
  color: rgba(64, 63, 61, 1);
  font-size: 60px;
  font-weight: 600;
}
.offer-span{
  color: rgba(176, 144, 122, 1);
}

.offer-p{
  color: rgba(64, 63, 61, 1);
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  margin-top: 25px;
}

.btn-app, .btn-google{
  width: 200px;
  height: 64px;
  border: 1px solid rgba(102, 95, 85, 1);
  border-radius: 100px;
}

.btn-app-text{
  width: 78px;
  height: 40px;
}

.app-text-1, .btn-google-1{
font-size: 10px;
font-weight: 600;
}

.app-text-2, .btn-google-2{
  font-size: 16px;
font-weight: 600;
}

.offer-screen{
  width: 630px;
  height: 630px;
  background: url(../../../assets/img/mobile-screens.png) no-repeat;
  background-size: cover;
  background-position: center;
}

.offer-btn{
  width: 420px;
  display: flex;
  justify-content: space-between;
  margin-top: 25px;
}
.btn-app, .btn-google{
  display: flex;
  align-items: center;
  justify-content: center;
}

.h1-text{
  max-width: 800px;
  text-align: center;
}
.h1-text h1{
  font-size: 60px;
  font-weight: 600;
  color: rgba(64, 63, 61, 1);
  line-height: 1.25em;
}
.h1-text > h1 > span{
  color: rgba(176, 144, 122, 1);
  font-style: italic;
}
.main{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: -20px;
}

.menu{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 40px;
  margin-top: 40px;
}

.tabs {
display: flex;
justify-content: center;
gap: 16px;
}
.tabs-all {
  cursor: pointer;
  border-radius: 100px;
  display: flex;
  align-items: center;
  padding: 8px;
  border: 1px solid rgba(193, 182, 173, 1);
  border-radius: 100px;
  background: none;
  font-size: 16px;
  font-weight: 600;
}
.btn-coffee-img, .btn-tea-img, .btn-dessert-img{
  width: 30px;
  height: 30px;
  border-radius: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(193, 182, 173, 1);
}

.tabs span{
  padding: 0 8px;
  font-size: 16px;
  font-weight: 600;
}

/* .btn-coffee:hover .btn-coffee-img{
  background: rgba(193, 182, 173, 1);
  transition: all .9s;
}
.btn-coffee:hover{
  background: rgba(64, 63, 61, 1);
  transition: all .9s;
} */
@media (hover: hover){
  .tabs-onl:hover div{
    background: rgba(225, 212, 201, 1);
    transition: all 0.3s ease-out;
  }
  
  .tabs-on:hover{
    background: rgba(102, 95, 85, 1);
    transition: all 0.3s ease-out;
    color: rgba(225, 212, 201, 1);
  }
  .tabs-on:hover .btn-dessert-img{
    background: rgba(225, 212, 201, 1);
    transition: all 0.3s ease-out;
  }
  .tabs-on:hover .btn-tea-img{
    background: rgba(225, 212, 201, 1);
    transition: all 0.3s ease-out;
  }
}

.tabs-off{
  background: rgba(102, 95, 85, 1);
  color: rgba(225, 212, 201, 1);
}

.tabs-off-img{
  background: rgba(225, 212, 201, 1);
}

.cart{
  max-width: 310px;
  height: 506px;
  border-radius: 40px;
  border: 1px solid rgba(193, 182, 173, 1);
}

.cart-img{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 310px;
  height: 310px;
  overflow: hidden;
  border-radius: 40px;
}

@media (hover: hover){
  .cart:hover img{
    cursor: default;
    transform: scale(0.92);
    transition: all 0.5s ease-out;
  }
}

.cart-info{
  margin: 20px;
}
.cart-info-name{
  margin-top: 20px;
  font-size: 24px;
  font-weight: 600;
}
.cart-info-about{
  margin-top: 12px;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5em;
  width: 270px;
  height: 72px;
}
.cart-info-price{
  margin-top: 12px;
  font-size: 24px;
  font-weight: 600;
}

.footer{
  background-color: rgba(102, 95, 85, 1);
  height: 450px;
  display: flex;
  align-items: center;
  margin-top: 100px;
  border-radius: 40px;
  margin-bottom: 40px;
}

.footer-left{
  width: 530px;
  height: 250px;
  margin: 0 100px;
}
.footer-left h3{
  font-size: 60px;
  font-weight: 600;
  color: rgba(225, 212, 201, 1);
  line-height: 1.25em;
}
.footer-left span{
  color: rgba(176, 144, 122, 1);
  font-style: italic;
}

.footer-left-link{
  display: flex;
  margin-top: 40px;
  gap: 12px;
}

.footer-left-link div{
  width: 60px;
  height: 60px;
  border: 1px solid rgba(193, 182, 173, 1);
  border-radius: 50%;
  text-align: center;
  line-height: 67px;
  transition: all 0.5s ease-out;
  cursor: pointer;
}
@media (hover: hover){
  .footer-left-link a:hover path, .footer-left-link a div:hover{
    transition: stroke .5s;
    stroke: rgba(64, 63, 61, 1);
    background: rgba(225, 212, 201, 1);
    transition: all .7s;
  }
}

.footer-contact h3{
font-size: 24px;
color: rgba(225, 212, 201, 1);
margin-bottom: 40px;
}
.footer-contact a{
color: rgba(225, 212, 201, 1);
font-size: 16px;
font-weight: 600;
text-decoration: none;
background: unset;
display: inline;
}

.time{
  color: rgba(225, 212, 201, 1);
  font-size: 16px;
  font-weight: 600;
  cursor: default;
}
.footer-contact{
  margin-top: -3px;
}
.footer-lin{
display: flex;
flex-direction: column;
}

.footer-contact ul{
list-style-type:none ;
display: flex;
flex-direction: column;
gap: 20px;
}
.footer-contact ul li{
  list-style-type:none ;
  display: flex;
  align-items: center;
}
.footer-contact ul img{
  margin-right: 8px;
}
.tel-span{
  padding-top: 1px;
}
.burger-menu {
  display: none;
}
.circle-none{
  display: none;
}

.circle-cart{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  border: 1px solid rgba(102, 95, 85, 1);
  margin-top: 39px;
  cursor: pointer;
  transition: 0.5s;
}
.circle-cart:hover{
  background: rgba(102, 95, 85, 1);
}

.circle-cart img{
  width: 24px;
  height: 24px;
}

@media (hover: hover){
  .cart:hover img{
    transform: scale(1);
  }
}
.cart-img img {
  width: 100%;
  height: auto;
  transform: scale(1.1);
}
/* ---------------------------modal------------------------------------------- */
.wrapper-modal{
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: rgba(64, 63, 61, 0.7);
  top: 0;
  left: 0;
  z-index: 10;
}


.modal{
  max-width: 800px;
  height: auto;
  background: rgba(225, 212, 201, 1);
  display: flex;
  padding: 16px;
  border-radius: 40px;
}

.modal-img{
  border-radius: 40px;
  overflow: hidden;
  max-width: 310px;
  height: 310px;
}
.modal-img img{
  display: block;
  width: 110%;
  margin-left: -15px;
  margin-top: -15px;
  object-fit: cover;
  object-position: center;
}
.modal-info{
  max-width: 438px;
  margin-left: 20px;
}
.modal-info-name, .modal-info-total-total{
  font-size: 24px;
  font-weight: 600;
}
.modal-info-about{
  font-size: 16px;
  font-weight: 400;
  margin-top: 16px;
  line-height: 1.39em;
}
.modal-info-size{
  margin-top: 20px;
}
.modal-info-size-p, .modal-info-add-p{
  font-size: 16px;
  font-weight: 400;
}
.modal-info-size-p{
  padding-top: 5px;
}
.size-wrapper, .add-wrapper{
  display: flex;
  gap: 8px;
  margin-top: 9px;
  font-weight: 600;
}
.size-wrapper-circle{
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid rgba(193, 182, 173, 1);
  padding: 8px;
  border-radius: 100px;
  padding-right: 14px;
}
.add-wrapper-circle{
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid rgba(193, 182, 173, 1);
  padding: 8px;
  padding-right: 14px;
  border-radius: 100px;

}
.size, .add{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 30px;
  border-radius: 100%;
  background: rgba(193, 182, 173, 1);
  margin-right: 8px;
}
.modal-info-add{
  margin-top: 22px;
}
.modal-info-line{
  display: flex;
  font-size: 10px;
  font-weight: 600;
  border-top: 1px solid rgba(193, 182, 173, 1);
  padding: 12px 0px;
  margin-top: 20px;
  line-height: 14px;
}
.total-span{
  display: flex;
}
.modal-info-line span{
margin-right: 10px;
}
.modal-info-total{
  display: flex;
  justify-content: space-between;
  font-size: 24px;
  font-weight: 600;
  margin-top: 20px;
}
.modal-info-btn{
  height: 44px;
  width: 100%;
  border-radius: 100px;
  border: 1px solid rgba(102, 95, 85, 1);
  text-align: center;
  line-height: 40px;
  margin-top: 20px;
  font-weight: 600;
}
.modal-info-btn:hover{
  background: rgba(102, 95, 85, 1);
  transition: 0.7s;
  cursor: pointer;
  color: rgba(225, 212, 201, 1);
}

.size-wrapper-circle.active{
  background: rgba(102, 95, 85, 1);
  transition: 0.7s;
  cursor: pointer;
  color: rgba(225, 212, 201, 1);
}
.size.active{
    color: rgba(64, 63, 61, 1);
    background: rgba(225, 212, 201, 1);
}

.add-wrapper-circle.active{
  background: rgba(102, 95, 85, 1);
  transition: 0.7s;
  cursor: pointer;
  color: rgba(225, 212, 201, 1);
}
.add.active{
  color: rgba(64, 63, 61, 1);
  background: rgba(225, 212, 201, 1);
  transition:0.7s; 
}

@media (hover: hover){
  .size-wrapper-circle:hover{
    background: rgba(102, 95, 85, 1);
    transition: 0.7s;
    cursor: pointer;
    color: rgba(225, 212, 201, 1);
  }
  .size-wrapper-circle:hover .size{
    color: rgba(64, 63, 61, 1);
    background: rgba(225, 212, 201, 1);
    transition:0.7s; 
  }

  .add-wrapper-circle:hover{
    background: rgba(102, 95, 85, 1);
    transition: 0.7s;
    cursor: pointer;
    color: rgba(225, 212, 201, 1);
  }

  .add-wrapper-circle:hover .add{
    color: rgba(64, 63, 61, 1);
    background: rgba(225, 212, 201, 1);
    transition:0.7s; 
  }

}


/* ---------------------------------------------------------------------- */
@media screen and (max-width: 1420px){
  .footer{
    margin: 40px;
  }
.container{
  padding: 0 40px;
}
.menu {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 40px;
  margin-top: 40px;
}

.cart {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.cart-info{
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.cart-img {
  width: 100%;
  height: auto;
}
.cart-info-about {
  width: 100%;
  height: auto;
}

/* .cart:hover img{
  transform: scale(1);
} */
.cart-info-name {
  margin-top: 0px;
}
}
@media screen and (max-width: 1160px){
  .footer-left {
    max-width: 530px;
    height: 250px;
    margin: 0;
    margin-right: 40px;
}
.menu{
  grid-template-columns: repeat(2, 1fr);
}
.menu > :nth-child(n+5) {
  display: none;
}
.circle-none{
  display: block;
}
}

@media screen and (max-width: 880px){
  .modal{
    max-width: 688px;
    margin: 0 40px;
  }
  .modal-img{
    height: 100%;
  }
  .footer{
    margin: 100px 40px 40px 40px;
    height: auto;
    flex-direction: column;
    align-items: start;
    padding: 100px 60px;
  }
  .footer-contact{
    margin-top: 100px;
  }
}

@media screen and (max-width: 768px){
  .modal{
    max-width: 688px;
    margin: 0 40px;
  }
  .modal-info{
    max-width: 346px;
    height: auto;
  }

.size-wrapper, .add-wrapper{
flex-wrap: wrap;
}
.modal-img{
  display: flex;
}

  header{
    overflow: hidden;
    position: relative;
  }
  .wrapper-burger.active{
    opacity: 1;
    transition: 0.8s ease-in-out;
    visibility: visible;
    left: 0;
    background: rgba(225, 212, 201, 1);
  }

  .burger{
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 80px;

  }
  .burger-ul{
    font-weight: 600;
    font-size: 32px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 64px;
    list-style-type: none;
  }
  .burger-ul a, .nav-link-men{
    font-weight: 600;
    font-size: 32px;
    list-style-type: none;
  }
  .burger-btn-menu a{
    display: flex;
    align-items: center;
    gap: 15px;
    font-weight: 600;
    font-size: 32px;
    margin-top: 100px;
  }

  .burger-menu-add::before{
    transition: all 0.3s;
    transform: translate(0px, 4px) rotate(-45deg);
  }
  .burger-menu-add:after{
    transition: all 0.3s;
    transform: translate(0px, -6px) rotate(45deg);
  }

.header-top-wrapper {
  align-items: center;
}
.ul-centre, .ul-centr, .menu-right{
  display: none;
}
.burger-menu {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 8px;
  position: relative;
  height: 44px;
  width: 44px;
  border-radius: 100%;
  border: 1px solid rgba(102, 95, 85, 1);
}
.burger-menu::before {
  content: '';
  height: 2px;
  width: 17px;
  background-color: rgba(102, 95, 85, 1);
}

.burger-menu:after {
  content: '';
  height: 2px;
  width: 17px;
  background-color: rgba(102, 95, 85, 1);
}
.cart-info-about {
  margin-top: 15px;
}
.cart{
  height: 506px;
}

.footer{
  max-width: 688px;
  height: 736px;
  margin-top: 100px;
  margin-bottom: 40px;
  margin: 100px 40px 40px 40px;
}
.footer-contact{
  margin-top: 102px;
}
.footer-contact h3 {
  margin-bottom: 37px;
}
.footer-left{
  margin-right: 0px;
}
}

@media screen and (max-width: 680px){
  .modal-img{
    display: none;
  }
  .container{
    padding: 0 16px;
  }
  .footer{
    padding: 60px 16px 60px 16px;
  }
  .footer-left {
    width: 100%;
}

.menu {
  grid-template-columns: repeat(1, 1fr);
}
}

@media screen and (max-width: 580px){
.footer-left h3, .h1-text h1{
font-size: 32px;
}
.footer-left{
  height: auto;
}
.footer-contact {
  margin-top: 40px;
}
.h1-text h1 {
  padding-top: 10px;
}
}

@media screen and (max-width: 380px){
.modal {
  max-width: 688px;
  margin: 0 15px;
}

header{
  margin-bottom: 10px;
}
.tabs{
  gap: 6px;
  margin-top: 16px;
}
.footer{
  margin: 100px 16px 40px 16px;
  height: 526px;
}
}
